---
import PostCard from '../components/PostCard.astro';
import PostContainer from '../components/PostTimeline.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { css } from 'styled-system/css';

const mdPosts = await Astro.glob('./blog/*.md');
const mdxPosts = await Astro.glob('./blog/*.mdx');

const nonDraftPosts = [...mdxPosts, ...mdPosts]
	.filter((post) => {
		if (import.meta.env.MODE === 'development') return true;

		return !post.frontmatter.draft;
	})
	.filter((post) => {
		return true;
	})
	.sort((a, b) => {
		return new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime();
	});
---

<Layout title="Home Page - Blog">
	<div class={css({})}>
		<Header />

		<PostContainer>
			{
				nonDraftPosts.map((post) => {
					const { url } = post;
					const { date, title, tag, draft } = post.frontmatter;

					return <PostCard date={date} title={title} tag={tag} url={url} draft={draft} />;
				})
			}
		</PostContainer>
		<ul role="list" class="link-card-grid"></ul>
	</div>
</Layout>
